n8n-rastreador-producao.json
{
  "name": "TMC | Rastreador de Produtividade",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "clickup-producao",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-clickup",
      "name": "Webhook ClickUp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "tmc-rastreador-producao"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": { "responseCode": 200 }
      },
      "id": "respond-webhook",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 520]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\nconst item = body.history_items?.[0];\nif (!item) return [{ json: { skip: true } }];\n\nconst afterRaw  = item.after?.status  ?? item.after  ?? null;\nconst beforeRaw = item.before?.status ?? item.before ?? null;\n\nfunction toStr(v) {\n  if (v === null || v === undefined) return '';\n  if (typeof v === 'object') return String(v.status || '');\n  return String(v);\n}\n\nconst after  = toStr(afterRaw).toLowerCase().trim();\nconst before = toStr(beforeRaw).toLowerCase().trim();\n\nconst task_id     = body.task_id;\nconst responsavel = item.user?.username || 'Desconhecido';\n\nconst entrou = after  === 'tarefas em andamento';\nconst saiu   = before === 'tarefas em andamento' && after !== 'tarefas em andamento';\n\nreturn [{ json: { task_id, responsavel, entrou, saiu, after, before } }];"
      },
      "id": "extrair-status",
      "name": "Extrair Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-entrou",
              "leftValue": "={{ $json.entrou }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-entrou",
      "name": "Entrou em Andamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.clickup.com/api/v2/task/' + $json.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "pk_152665026_NKUK8R4MKIWGB8O4FKW0SW5PEMGBSW53" }
          ]
        },
        "options": {}
      },
      "id": "buscar-clickup",
      "name": "Buscar Tarefa ClickUp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 160]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://tlbnilzawnhlqvcrhzov.supabase.co/rest/v1/tempo_producao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "task_id", "value": "={{ 'eq.' + $('Extrair Status').first().json.task_id }}" },
            { "name": "saida_de_andamento", "value": "not.is.null" },
            { "name": "select", "value": "minutos_sessao" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" }
          ]
        },
        "options": {}
      },
      "id": "buscar-sessoes",
      "name": "Buscar Sessões Anteriores",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 160]
    },
    {
      "parameters": {
        "jsCode": "const meta    = $('Extrair Status').first().json;\nconst tarefa  = $('Buscar Tarefa ClickUp').first().json;\nconst sessoes = $input.all().map(i => i.json);\n\nconst task_id    = meta.task_id;\nconst task_name  = tarefa.name || ('Tarefa #' + task_id);\nconst responsavel = meta.responsavel;\nconst entrada_em_andamento = new Date().toISOString();\nconst total_anterior = sessoes.reduce((sum, s) => sum + (s.minutos_sessao || 0), 0);\n\nlet due_date = null;\nif (tarefa.due_date) {\n  due_date = new Date(parseInt(tarefa.due_date)).toISOString();\n}\n\nreturn [{ json: {\n  task_id,\n  task_name,\n  responsavel,\n  entrada_em_andamento,\n  due_date,\n  total_minutos_acumulado: total_anterior\n} }];"
      },
      "id": "preparar-entrada",
      "name": "Preparar Dados de Entrada",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 160]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tlbnilzawnhlqvcrhzov.supabase.co/rest/v1/tempo_producao",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "options": {}
      },
      "id": "registrar-entrada",
      "name": "Registrar Entrada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 160]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "cond-saiu",
              "leftValue": "={{ $json.saiu }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-saiu",
      "name": "Saiu de Andamento?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://tlbnilzawnhlqvcrhzov.supabase.co/rest/v1/tempo_producao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "task_id", "value": "={{ 'eq.' + $('Extrair Status').first().json.task_id }}" },
            { "name": "saida_de_andamento", "value": "is.null" },
            { "name": "select", "value": "id,task_id,task_name,responsavel,entrada_em_andamento,total_minutos_acumulado" },
            { "name": "order", "value": "entrada_em_andamento.desc" },
            { "name": "limit", "value": "1" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" },
            { "name": "Accept", "value": "application/json" }
          ]
        },
        "options": {}
      },
      "id": "buscar-entrada-aberta",
      "name": "Buscar Entrada Aberta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 440]
    },
    {
      "parameters": {
        "jsCode": "const todos = $input.all();\nif (!todos || todos.length === 0) {\n  const tid = $('Extrair Status').first().json.task_id;\n  throw new Error('Nenhuma sessao aberta encontrada para task_id: ' + tid);\n}\nconst item = todos[0].json;\n\nconst entradaRaw = item.entrada_em_andamento || item.created_at;\nif (!entradaRaw) return [];\n\nconst entrada = new Date(entradaRaw);\nconst saida   = new Date();\nconst minutos_sessao = Math.round((saida - entrada) / 60000);\n\nconst total_anterior = item.total_minutos_acumulado || 0;\nconst total_minutos_acumulado = total_anterior + minutos_sessao;\n\nreturn [{ json: {\n  registro_id: item.id,\n  saida_de_andamento: saida.toISOString(),\n  minutos_sessao,\n  total_minutos_acumulado\n} }];"
      },
      "id": "calcular-minutos",
      "name": "Calcular Minutos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 440]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://tlbnilzawnhlqvcrhzov.supabase.co/rest/v1/tempo_producao?id=eq.' + $json.registro_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ saida_de_andamento: $json.saida_de_andamento, minutos_sessao: $json.minutos_sessao, total_minutos_acumulado: $json.total_minutos_acumulado }) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYm5pbHphd25obHF2Y3Joem92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ1NDAyMzQsImV4cCI6MjA5MDExNjIzNH0.xZx7-VOlr8UH7vvjsYq3Y45u258A2NilOmorSMusddY" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "options": {}
      },
      "id": "registrar-saida",
      "name": "Registrar Saída",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 440]
    }
  ],
  "connections": {
    "Webhook ClickUp": {
      "main": [
        [
          { "node": "Responder 200", "type": "main", "index": 0 },
          { "node": "Extrair Status", "type": "main", "index": 0 }
        ]
      ]
    },
    "Extrair Status": {
      "main": [[{ "node": "Entrou em Andamento?", "type": "main", "index": 0 }]]
    },
    "Entrou em Andamento?": {
      "main": [
        [{ "node": "Buscar Tarefa ClickUp", "type": "main", "index": 0 }],
        [{ "node": "Saiu de Andamento?", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Tarefa ClickUp": {
      "main": [[{ "node": "Buscar Sessões Anteriores", "type": "main", "index": 0 }]]
    },
    "Buscar Sessões Anteriores": {
      "main": [[{ "node": "Preparar Dados de Entrada", "type": "main", "index": 0 }]]
    },
    "Preparar Dados de Entrada": {
      "main": [[{ "node": "Registrar Entrada", "type": "main", "index": 0 }]]
    },
    "Saiu de Andamento?": {
      "main": [
        [{ "node": "Buscar Entrada Aberta", "type": "main", "index": 0 }],
        []
      ]
    },
    "Buscar Entrada Aberta": {
      "main": [[{ "node": "Calcular Minutos", "type": "main", "index": 0 }]]
    },
    "Calcular Minutos": {
      "main": [[{ "node": "Registrar Saída", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-03-31T00:00:00.000Z",
  "versionId": "1"
}
